<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1><%= @cocktail.name %></h1>
  </div>
</div>

<div class="container">
  <h2>The recipe</h2>
  <ul class="list-group list-group-flush">


    <% @cocktail.doses.each do |cocktail_dose| %>
      <li class="list-group-item">
      <%= cocktail_dose.description %> | <%= cocktail_dose.ingredient.name %>
<%= link_to "Delete ingredient",
            dose_path(cocktail_dose),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
     </li>
    <% end  %>

  </ul>

  <%= link_to("Add ingredient", new_cocktail_dose_path(@cocktail)) %>

</div>



