
<div class="container">
  <% if @cocktail.photo.attached? %>
    <%= cl_image_tag(@cocktail.photo.key,
      width: 400, height: 300, crop: :fill) %>
    <% end %>

    <h1><%= @cocktail.name %></h1>

    <ul class="list-group list-group-flush">

      <% @cocktail.doses.each do |cocktail_dose| %>
        <li class="list-group-item">
        <%= cocktail_dose.description %> | <%= cocktail_dose.ingredient.name %>
        <%= link_to "Delete ingredient",
            dose_path(cocktail_dose),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
        </li>
      <% end  %>
    </ul>

    <%= link_to("Add ingredient", new_cocktail_dose_path(@cocktail)) %>
</div>



